[mysqld]
host=127.0.0.1
user=root
password=
database=autopsp
pagesize = 500

[process]
stopwords=stopwords_en.txt,stopwords_ro.txt

[jira]
root=http://jira.server.example.com/
jql=project = XXXX AND issuetype in ("A","B") ORDER BY id ASC
pagesize=5
fieldname=asignee #field that you need to be predicted